body {
  background: white;
  color: black;
  font-family: Vollkorn, Times, "Noto Serif", serif;
  margin: 0;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 62rem;
}

.content {
  margin-top: 4rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 0;
}

h1 {
  color: black;
  font-family: Vollkorn, Times, "Noto Serif", serif;
  font-size: 1.8rem;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;
  margin: 2rem 0;
}

h2 {
  color: black;
  font-family: Vollkorn, Times, "Noto Serif", serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  text-align: justify;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h2 em {
  font-style: italic;
  letter-spacing: 0.2rem;
}

table.propositions {
  width: 100%;
  table-layout: auto;
  border: none;
  border-collapse: separate;
  border-spacing: 0 0;
}

th.proposition {
  color: black;
  font-family: Vollkorn, Times, "Noto Serif", serif;
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  line-height: 1.5rem;
  vertical-align: top;
}

th.proposition {
  width: 50%;
}

td.proposition {
  color: black;
  font-family: Vollkorn, Times, "Noto Serif", serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
  line-height: 1.8rem;
  vertical-align: top;
  border-top: 1rem solid transparent;
}

td.proposition em {
  letter-spacing: 0.1rem;
}

.english.proposition {
  text-align: right;
  border-right: 1rem solid transparent;
}

.german.proposition {
  text-align: left;
  border-left: 1rem solid transparent;
}

.number {
  color: black;
  font-family: Vollkorn, Times, "Noto Serif", serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.01rem;
  vertical-align: top;
  border-top: 1rem solid transparent;
  text-align: center;
}

.buttons {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nowrap {
  white-space: nowrap;
  display: inline-flex;
}

.button {
  color: black;
  font-family: Vollkorn, Times, "Noto Serif", serif;
  background: white;
  border-color: black;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.3rem;
  padding-bottom: 0.2rem;
  margin: 0.4rem 0.3rem;
  border: 0.1rem solid;
  border-radius: 2rem;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.button .bi {
  margin-right: 0.2rem;
  margin-bottom: -0.2rem;
}

.primary.button {
  color: white;
  background: black;
  border-color: black;
}

.button:active {
  transform: translateY(0.1rem);
}

.input {
  width: 24rem;
  text-align: left;
  color: black;
  font-family: Vollkorn, Times, "Noto Serif", serif;
  background: white;
  border-color: black;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.2rem;
  padding-bottom: 0.1rem;
  margin: 0.4rem 0.3rem;
  border: none;
  border-bottom: 0.1rem solid;
  display: inline-block;
  cursor: text;
  text-overflow: ellipsis;
  outline: none;
}

span.highlighted {
  padding: 0.2rem 0.6rem;
  margin: -0.2rem -0.6rem;
  border-radius: 0.2rem;
  background:
    linear-gradient(85deg,
      rgba(255, 236, 0, 0) 0%,
      rgba(255, 236, 0, 1) 2%,
      rgba(255, 236, 0, 0.5) 4%,
      rgba(255, 236, 0, 0.15) 94%,
      rgba(255, 236, 0, 0.6) 98%,
      rgba(255, 236, 0, 0) 99%),
    linear-gradient(178deg,
      rgba(255, 236, 0, 0) 0%,
      rgba(255, 236, 0, 0.7) 9%,
      rgba(255, 236, 0, 0) 18%),
    linear-gradient(179deg,
      rgba(255, 236, 0, 0) 86%,
      rgba(255, 236, 0, 0.3) 95%,
      rgba(255, 236, 0, 0) 100%);
  text-shadow: 0 0 0.6rem rgba(255, 236, 0, 0.4);
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

img.disabled, span.disabled, td.disabled {
  filter: grayscale(100%) contrast(10%) brightness(180%);
  -webkit-filter: grayscale(100%) contrast(10%) brightness(180%);
}

.button.disabled {
  pointer-events: none;
}

.illustration {
  width: 16rem;
  height: 16rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 50%;
  object-fit: cover;
}

img.ludwig {
  width: 12rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  margin-bottom: 0;
  border: none;
}

.mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .nomobile {
    display: none;
  }

  .mobile.button {
    display: inline-block;
  }

  .mobile.number {
    display: table-cell;
  }

  h1 {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    margin-bottom: 1.5rem;
  }

  .english.proposition {
    text-align: left;
    border-right: none;
    border-left: 1rem solid transparent;
  }

  th.proposition {
    width: 100%;
  }

  .number {
    text-align: left;
  }

  .content {
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .buttons {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .input {
    width: 16rem;
    text-align: center;
  }
}
